
.card-news {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sources {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: 16px 8px;
    background-color: #ebebeb;
    border: 1px solid #000000;
    border-radius: 4px;

    .source-title {
      margin-right: 8px;
      font-weight: bold;
      text-align: center;
    }

    .source-name {
      margin-right: 8px;
      text-align: center;
      font-weight: bold;
      color: #04AA6D;;
    }

    .sources-btn {
      background-color: #04AA6D;
      color: white;
      padding: 8px;
      font-size: 16px;
      border: none;
      width: 80px;
      border-radius: 4px;

      &:hover {
        background-color: #00311d;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .news {
    margin: 16px;
    max-width: 600px;
    padding: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #ebebeb;
    border: 1px solid #000000;
    border-radius: 4px;

    &-date {
      font-size: 12px;
      font-style: italic;
      color: rgb(0, 0, 0);
      height: 24px;
      margin-top: 8px;
    }

    &-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0.25em;
      text-align: left;
    }

    &-summary {
      font-size: 14px;
      padding-bottom: 0.5em;
      text-align: justify;
      display: flex;
      flex-direction: column;

      .news-btn {
        background-color: #04AA6D;
        color: white;
        padding: 8px;
        font-size: 16px;
        border: none;
        margin-top: 8px;
        align-self: flex-end;
        border-radius: 4px;

        &:hover {
          background-color: #00311d;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &-image-content {

      &-image {
        width: 100%;
        height: auto;
      }
    }

    a {
      text-decoration: none;
      color: #000;
    }

    &-link {
      text-align: end;
      margin: 8px 0;

      &:hover {
        color: darkorchid;
        transition: all 0.1s ease-in-out;
      }
    }
  }

  .btn-top {
    background-color: #04AA6D;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    margin-top: 8px;
    border-radius: 4px;
    margin-bottom: 16px;

    &:hover {
      background-color: #00311d;
      transition: all 0.2s ease-in-out;
    }
  }
}
