<div class="card-news">
  <div class="sources">
    <p class="source-title">Fonte:</p>
    <p class="source-name">{{ articles[sourceIndex].source?.name }}</p>
    <button (click)="changeSource()" class="sources-btn">Alterar</button>
  </div>
  <div class="news" *ngFor="let item of news?.articles">
    <p class="news-title">
      {{ item?.title }}
    </p>
    <p class="news-date">
      Postado em {{ item?.publishedAt | date: "dd/MM/yyyy HH:mm:ss" }} por
      {{ articles[sourceIndex].source?.name }}
    </p>
    <p class="news-summary">
      {{ item?.description }}...
      <button (click)="goTo(item?.url)" class="news-btn">Abrir notícia</button>
    </p>
    <div class="news-image-content">
      <img class="news-image-content-image" [src]="item?.urlToImage" />
    </div>
  </div>
  <button class="btn-top" (click)="goToTop()">Voltar ao Topo</button>
</div>
