<div class="card-news">
  <div class="news" *ngFor="let item of news?.articles">
    <p class="news-title">{{ item?.title }}</p>
    <p class="news-date">
      Postado em {{ item?.publishedAt | date: "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="news-summary">
      {{ item?.description }}...
      <a [href]="item?.url"><p class="news-link">>> Ler notícia completa</p></a>
    </p>
    <div class="news-image-content">
      <img class="news-image-content-image" [src]="item?.urlToImage" />
    </div>
  </div>
</div>
